.footer {
  background-color: #333333;
  color: #fff;
  padding-top: auto;
  width: 100%;
}
.footer-upper {
  background-image: url(../images/bg-pattern.png);
  background-repeat: repeat;
  height: auto;
  line-height: 90px;
}

.footer ul {
  list-style-type: none;
  margin-left: 0;
}

.footer ul li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-decoration: none;
  vertical-align: top;
  line-height: 2.5em;
}

.footer-lower {
  background: rgb(29, 28, 28);
  font-size: 0.75rem;
  height: auto;
  padding: 10px 0 2px 0;
}

.footer-lower img {
  padding-top: 5px;
  vertical-align: middle;
}

.footer-lower a {
  text-decoration: none;
  color: #fff;
}
