@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Shadows+Into+Light+Two&display=swap");

.navbar {
  background-color: #333333;
  background-image: url(../images/bg-pattern.png);
  background-repeat: repeat;
  padding: auto 2rem auto 2rem;
  /* padding-right: 2rem; */
  box-shadow: 0 0 6px rgb(109, 107, 107);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.nav-brand {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0.8rem;
}

.nav-brand .brand {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.nav-brand .brand:hover {
  text-decoration: none;
  cursor: pointer;
}

.brand-logo {
  padding-right: 15px;
  margin-bottom: 0;
}
