@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Shadows+Into+Light+Two&display=swap");

.spotlight-container {
  background-color: #fff;
  padding-bottom: 2em;
  padding-top: 2em;
}

.spotlight-right {
  padding-right: 2rem;
  padding-top: 1rem;
}

.spotlight-right h1 {
  color: #414042;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}

.spotlight-p {
  color: #414042;
  font-size: 1.2rem;
}

.spotlight-right span {
  color: #414042;
  font-family: "Shadows Into Light Two", cursive;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 8px;
}

.spotlight-right hr {
  border: 2px solid #d13239;
  color: #d13239;
  margin-left: 0;
  margin-right: auto;
  width: 30%;
}
